* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ff6b6b;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    margin: 10px 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-image: url('https://img.freepik.com/free-photo/tasty-pizza-near-ingredients_23-2147772080.jpg?t=st=1729690421~exp=1729694021~hmac=8aaf881114550ccb30d82cadc577912045da38dd41481cfbabe85b1d83053bd1&w=1380');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #ff4949;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f4f4f4;
}

.feature-box {
    text-align: center;
    width: 30%;
}

.feature-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
